html {
  background: #010437 url("../images/abstract-background.jpg") no-repeat 0 -120px; }

#logo {
  background-color: white;
  border: 5px solid black;
  height: 131px;
  margin: 30px auto 0 auto;
  text-align: center;
  width: 479px;
  box-shadow: 0 0 8px white;
  -moz-box-shadow: 0 0 8px white;
  -webkit-box-shadow: 0 0 8px white;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#ffffff', Direction=135, Strength=5); }
  #logo a {
    display: block; }
    #logo a img {
      border: 2px solid black;
      margin-top: 3px;
      padding: 5px; }

h1 {
  color: white;
  font-style: italic;
  line-height: 36px;
  width: 500px;
  margin: 50px auto 0 auto; }
